.home-page {
    
    .text-zone {
        position: absolute;
        left: 7%;
        top: 45%;
        transform: translateY(-50%);
        width: 40%;
        max-height: 90%;
        display: table;
        background-color: rgb(220, 220, 220, 0.6);
        margin: 0 auto;
        text-align: center;

        @media (max-width: 1500px) {
            left: 35%;
            width: auto;
            height: fit-content;
        }
    }

    h1 {
        color: black;
        font-size: 53px;
        margin: 0;
        font-family: 'Coolvetica';
        font-weight: 400;
        letter-spacing: 6px;
        
        img {
            width: 32px;
        }

        @media (max-width: 1500px) {
            font-size: 48px;
        }

        @media (max-width: 1200px) {
            font-size: 18px;
        }
    }
}