.container
{
    font-size: "50px";
    max-width: 100vh;
    max-height: 100%;
    position: relative;
    left: 600px;
    top: 19pc;
    margin: 0 auto;
}

.typewriter p {
    overflow: hidden; 
    border-right: .15em solid orange;
    white-space: nowrap; 
     
    letter-spacing: .4em;
    animation: 
        typing 3.5s steps(30, end),
        blink-caret .75s step-end infinite;
}

@keyframes typing {
    from { width: 0 }
    to { width: 40% }
}

@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange; }
}